.back_to_top{position: fixed;bottom: 20px;right: 10px;width: 35px;height: 35px;border-radius: 5px;background-color: #3998ff;box-shadow: 0px 0px 2px 0px #ffffff;z-index: 999;		}
.back_to_top i{color:#fff;font-size: 32px;padding: 0px 7px;}	
html{
	scroll-behavior: smooth	;
}
body{
	font-family: inherit !important;
	min-height: 100vh;
	position: relative;
}
header{
	background-color: #3998ff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1050;
	box-shadow: 0 0 2px grey;
}
.header-logo, .footer-logo .logo{
	width: 150px;
}
header .nav-item{
	min-width: 120px;
	border-radius: 7px;
	font-size: 18px;
	text-align: center;
}
header .nav-item img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid grey;
	background-color: #ffffff;
}
header .nav-item:hover{
	background-color: #ffffff2e;
}
header .nav-item.dropdown:hover{
	cursor: pointer;
	background-color: transparent !important;
}
header .nav-item .nav-link:hover{
	color: #fff !important;
}
.name-header{
	position: relative;
	margin-top: 79px;
	width: 100%;
	background-image: url("../images/contact-bg.jpg");
	background-size: cover;
	padding: 60px 20px;
}
.home-status{
	margin-top: 79px;
}
.tips-home{
	margin-top: 75px;
	margin-bottom: 75px;
}
.tips-home .btn-primary{
	width: 175px;
}
.tips
.overlay{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #0000003d;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.name-header h1{
	color: #ffffff;
	text-align: center;
	margin-bottom: 0;
	font-size: 50px;
}
.footer-logo{
	text-align: center;
	width: 100%;
	padding-bottom: 15px;
    border-bottom: 1px solid #ffffff59;
}
footer{
	background-color: #3998ff;
	padding-top: 15px;
}
footer ul{
	padding-left: 0;
    display: flex;
    padding: 15px 0;
    list-style-type: none;
	font-size: 20px;
	justify-content: space-around;
	margin-bottom: 0px;
}
footer ul li{
	padding: 10px 15px;

}
footer ul li a{
	color: #ffffff;
	opacity: 0.85;
	display: block;
}
footer ul li a:hover {
	text-decoration: none;
	opacity: 1;
	color: #ffffff;

}
header.admin, footer.admin{
	background-color: #003673;
}
footer.admin{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.carousel-main{
	height: 500px;
	margin-top: 79px;
}
.carousel-item img{
	width: 100%;
	height: 500px;
}
section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-head h3{
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #2461a5;
}
.why-smart-invest{
	background-color: whitesmoke;
}
.invest-card, .why-choose-card{
	box-shadow: 0 0 5px #d2cbcb;
	border-radius: 8px;
	background-color: #ffffff;
	text-align: center;
	padding: 25px 0 0;
	transition: 0.25s ease all;
	margin-top: 15px;
	overflow: hidden;
}
.invest-card:hover{
	box-shadow: 0 0 5px #b3aaaa;
	background-color: #2461a5;
	color: #ffffff;
}
.invest-card:hover .invest-body p{
	color: #fff;
}

.invest-card img{
	max-width: 200px;
	margin-bottom: 15px;
}
.invest-card .invest-body{
	border-top: 1px solid gainsboro;
	padding: 20px 15px 25px;
}
.invest-body h5, .choose-body h5{
	font-size: 22px;
	font-weight: 700;
}
.invest-body p{
	font-size: 15px;
	color: grey;
	margin-bottom: 0;
	max-height: 115px;
	height: 115px;
	overflow: hidden;
}
.why-choose-card:hover{
	box-shadow: 0 0 5px #2461a5d4;
}
.choose-body {
	padding: 0 15px 35px;
	position: relative;
}
.choose-body img{
	width: 125px;
	height: 125px;
	margin-bottom: 15px;
}
.choose-body .read-more{
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	color: #000000;
	font-weight: 600;
}
.choose-body .read-more:hover{
	color: #2461a5;
}
.choose-body p{
	margin-top: 15px;
	height: 100px;
	overflow: hidden;
	font-size: 16px;
}
.contact {
	position: relative;
	background-color: #f9f9f9;
}
/* .contact:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../images/contact-bg.jpg");
} */
.support, .contact-form{
	padding-top: 15px;
}
.support ul{
	padding-left: 0;
	list-style-type: none;
}
.support ul li{
	padding-left: 30px;
	position: relative;
	max-width: 425px;
	margin-bottom: 16px;
}
.support ul li a span{
	position: absolute;
	left: 0;
	display: inline-block;
	width: 20px;
	text-align: center;
}
.support ul li a{
	font-size: 17px;
	color: #000000;

}
.support ul li a:hover{
	text-decoration: none;
	color: #2461a5;
}
.support h5, .contact-form{
	font-size: 24px;
	margin-bottom: 20px;
}
.contact-image{
	max-width: 100%;
	max-height: 200px;
	margin-bottom: 25px;
}

/* Payment */
.payment-accepts{
	margin-top: 79px;
}
.payment-accepts ul{
	margin-top: 100px;
	margin-bottom: 50px;
	padding-left: 0;
	list-style-type: none;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.payment-accepts ul li{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	padding: 15px;
	box-shadow: 0 0 5px #b3aaaa;
}
.payment-accepts ul li img{
	max-width: 100%;
}
.bank-card{
	max-width: 600px;
	margin: 0 auto;
}
.bank-card h5{
	text-align: left !important;
}
/* form css */
.form-outer label{
	font-size: 14px;
	line-height: 1;
}
.form-group{
	position: relative;
}
.form-group .error{
	font-size: 12px;
	color: Red;
	position: absolute;
	bottom: -18px;
	margin-bottom: 0;
}
textarea{
	resize: none;
}
.btn-primary{
	background-color: #2461a5 !important;
}
.btn-primary:hover{
	box-shadow: 0 0 3px grey;
}
/* Modals */
.advisor-modal .modal-header{
	display: block;
	background-color: #2461a5;
	color: #ffffff;
	border-radius: .3rem .3rem 0 0;
}
/* Site Contents */
.about-content ul{
	padding-left: 0;
}
.about-content p{
	font-size: 18px;
	/* color: red; */
	margin-bottom: 20px;
}
.our-team{
	background-color: whitesmoke;
}
.team-image img{
	max-width: 100%;
	width: 100%;
	max-height: 300px;
	/* float: right; */
}
.team-content p{
	font-size: 18px;
}
.service-content-outer{
	margin-bottom: 35px;
}
.service-content-outer h4{
	font-size: 28px;
	color: #2461a5;
	font-weight: 600;
	margin-bottom: 15px;
}
.service-content-outer p{
	font-size: 17px
}
.benefit-card{
	width: 100%;
	height: 260px;
	border-radius: 8px;
	padding: 20px 0;
	text-align: center;
	box-shadow: 0 0 5px #d2cbcb;
	transition: 0.25s ease all;
	margin-bottom: 30px;
}
.benefit-card:hover, .pricing-cards:hover{
	box-shadow: 0 0 5px #b3aaaa;
}
.benefit-card img{
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
}
.benefit-card .benefit-card-body{
	padding: 20px 15px;
	margin-top: 15px;
	border-top: 1px solid #e8e4e4;
}
.benefit-card h5{
	font-size: 20px;
	font-weight: 700;	
}
.benefit-card p{
	font-size: 16px;
}
.pricing-cards{
	border-radius: 4px;
	box-shadow: 0 0 5px #d2cbcb;
	transition: 0.25s ease all;
	margin-bottom: 25px;
}
.pricing-card-body{
	padding: 25px 15px;
}
.pricing-card-body table{
	width: 100%;
}
.pricing-card-head{
	background-color: #2461a5;
	text-align: center;
	padding: 15px;
	color: #fff;
	border-radius: 4px 4px 0 0;
}
.pricing-card-head h5{
	margin-bottom: 0;
}
.pricing-card-body table tr td{
	font-weight: 600;
}
.pricing-card-body table tr td:last-child{
	text-align: right;
}
.tool-cards .benefit-card{
	height: auto;
}

/* User CSS */
.auth-screen-main{
	/* overflow: hidden; */
}
.auth-screen {
    background-color: #f1f1f1;
	position: relative;
}
img.banner-bg {
    position: absolute;
    bottom: 0;
    left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}
.row.main {
    min-height: 100vh;
    height: 100%;
}
.auth-card .divider-img {
    position: absolute;
    left: 25%;
    top: -5px;
    height: 103%;
    display: none;
  }
.auth-card {
    background-color: #fff;
    max-width: 832px;
    margin: 0 auto;
    height: 450px;
    border-radius: 5px;
    box-shadow:0, 9px, 18px, rgba(0, 0, 0, 0.21);
    display: flex;
    position: relative;
    overflow: hidden;
}
.auth-card .login-left{
    /* background-image: url("../images/auth-image.png"); */
    display: table;
	height: 100%;
	background-color: #e5e6ec;
    }
.auth-card .login-left .logo-main{
    display: table-cell;
    vertical-align: middle;
}

  
.auth-card .right {	
    padding: 0 38px 0 48px;
}
.auth-card .right p{
	font-size: 16px;
	margin-bottom: 30px;
	color: #cecece;

}
.auth-card .right .content h1{
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.auth-card .right .content p {
    color: #AAB7C9;
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 20px;
}

.iframe-main{
	height: 500px;
}
.iframe-main{
	margin-top: 29px;
}
.why-user-panel{
	margin-top: 50px;
}
.why-user-panel .section-head{
	padding-top: 25px;
	padding-bottom: 25px;
}
.why-user-card:hover{
	box-shadow: 0 0 5px #b3aaaa;
}
.why-user-card{
	transition: 0.25s ease all;
	box-shadow: 0 0 5px #d2cbcb;
	padding: 20px 15px;
	border-radius: 8px;
	margin-bottom: 30px;
}
.why-user-card img{
	max-width: 100px;
	height: 100px;
}
.why-user-card .media .media-body{
	padding-left: 20px;
}
.why-user-card .media .media-body h5{
	font-size: 24px;
	color: #2461a5;
	font-weight: 600;
	margin-bottom: 5px;
}
.why-user-card .media .media-body p{
	font-size: 16px;
	color: grey;
	margin-bottom: 0px;
}

.profile-card{
	transition: 0.25s ease all;
	box-shadow: 0 0 5px #d2cbcb;
	padding: 25px 15px;
	position: relative;
}
.profile-card i{
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 30px;
	color: #2461a5 !important;
}
.profile-card img{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 1px solid grey;
	padding: 5px;
}
.profile-card ul{
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}
.profile-card ul li{
	display: inline-block;
	width: 32%;
	margin-bottom: 20px;
}
.profile-card ul li h5{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
}
.profile-card ul li p{
	margin-bottom: 0;
	font-size: 17px;
	font-weight: 600;
}
.profile-card .media-body{
	padding-left: 40px;
}
.status-table{
	width: 100%;
	font-size: 20px;
	text-align: center;
}
.status-table tr td, .status-table tr th{
	border: 1px solid grey;
}
.status-table tr td.profit{
	background-color: green;
	color: #ffffff;
}
.status-table tr td.loss{
	background-color: red;
	color: #ffffff;
}
.trade-table {
	font-size: 18px;
	margin-bottom: 40px;
}
.about-content p{
	font-size: 15px;
	margin-bottom: 8px;
}
.tips-list h2{
	font-size: 14px;
	cursor: pointer;
	padding: 12px 16px;
	transition: 0.25s ease all;
}
.tips-list .card-header{
	padding: 0;
}
.tips-list .card-header h2:hover, .tips-list .card-header h2[aria-expanded="true"]{
	background-color: #2461a5;
	color: #ffffff;
}
.tips-list .card{
	margin-bottom: 15px;
}
.tips-list .card-body{
	padding: 12px 16px;
	font-size: 15px;
}
.tips-list .card-header{
	border-bottom: 0;
}
.navbar-nav .dropdown-menu{
	position: absolute !important;
}
.invest-outer {
	display: flex;
	justify-content: center;
}
.invest-outer .btn-primary{
	width: 150px;
	margin: 0 5px;
}
.db-card-outer {
	background-color: #ffffff;
	padding: 25px 20px;
	box-shadow: 0 0 5px #d2cbcb;
	transition: 0.25s ease all;
	margin-bottom: 25px;
}
.db-card-outer:hover{
	box-shadow: 0 0 5px #b3aaaa;
}
.db-card-outer h4{
	text-align: center;
	font-size: 45px;
	font-weight: 600;
	color: #003673;
	margin-bottom: 0;
}
.db-card-outer h5{
	text-align: center;
	font-size: 22px;
	margin-bottom: 15px;
}
.db-cards{
	padding-top: 125px;
}
.add-user-card{
	box-shadow: 0 0 5px #d2cbcb;
	padding: 40px;
	max-width: 600px;
	margin: 0 auto;
}
table tr td i{
	margin: 0 7px;
}
.fa{
	cursor: pointer;
}
.fa-eye{
	color: #003673;
}
.fa-pencil{
	color: green;
}
.fa-trash-o{
	color: red
}
table .btn-primary{
	padding: 5px 20px;
    font-size: 14px;
}
.dropdown-menu{
	left: unset !important;
	right: 25px !important;
	top: 50px !important;
}
@media (max-width:767px){
	.name-header h1{
		font-size: 30px;
	}
	.name-header{
		padding: 35px 15px;
	}
	.section-head h3{
		font-size: 26px;
		margin-bottom: 22px;
	}
	.benefit-card{
		height: auto;
	}
	.carousel-item img, .carousel-main{
		height: 300px;
	}
	footer ul{
		display: block;
		padding: 10px 0;
	}
	footer ul li{
		display: inline-block;
		width: 48%;
		padding: 7px 10px;
		font-size: 16px;
	}
	.our-Value .col-md-6:first-child{
		order: 1;
	}
	.about-content ul {
		padding-left: 15px;
	}
	.db-card-outer{
		padding: 20px 0;
	}
	.db-cards{
		padding-top: 90px;
		padding-bottom: 0;
	}
	.db-cards .section-head{
		margin-bottom: 25px !important;
	}
	.db-cards .section-head h3{
		margin-bottom: 0px !important;
	}
}
@media (max-width:575px){
	.about-content p, .team-content p, .service-content-outer p{
		font-size: 14px;
	}
	.service-content-outer h4{
		font-size: 22px;
	}
	.header-logo, .footer-logo .logo{
		width: 125px;
	}
	.tips-list h2{
		font-size: 13px;
	}
	.tips-list .card-body{
		font-size: 11px;
	}
	.name-header{
		margin-top: 70px;
	}
}
@media (max-width:420px){
	.pricing-card-body table tr td{
		font-weight: unset;
	}
}